<script type="text/javascript">
	var itemtypeahead = ["hello", "good", "toilet roll", "kitchen roll"];
</script>
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Purchases <small>- I've bought...</small></h1>
		</div>
	</div>
</div>
<div class="row">

	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12">
				<h2>What did you buy?</h2>
				<div class="well">

					<%= form_for [@newPurchase, @purchasedItem], url: {action: "createpurchase"}, html: {class: "form"} do |f| %>
						<div class="form-group">
							<%= fields_for @purchasedItem do |purchasedItem_fields| %>
								<%= purchasedItem_fields.text_field :name, class: "form-control input-lg", placeholder: "Name of item...", :"data-provide" => "typeahead", :"data-source" => "itemtypeahead", autosuggest: "off" %>
							<% end %>
						</div>
						<div class="form-group">
							<%= fields_for @newPurchase do |newPurchase_fields| %>
								<%= newPurchase_fields.text_field :price, class: "form-control input-lg", placeholder: "Price of item...", :"data-provide" => "typeahead", :"data-source" => "itemtypeahead", autosuggest: "off" %>
							<% end %>
						</div>
						<div class="form-group">
							<select class="form-control">
								<option>Shared between everyone</option>
								<option>Shared between selection...</option>
							</select>
						</div>
						
						<div class="form-group">
							<label class="checkbox-inline">
								<input type="checkbox" id="inlineCheckbox1" value="option1"> <strong>Me</strong>
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" id="inlineCheckbox1" value="option1"> Rob
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" id="inlineCheckbox1" value="option1"> Sam
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" id="inlineCheckbox1" value="option1"> Rhi
							</label>
						</div>
						<%= f.submit "Add Purchase", class: "btn btn-primary btn-lg btn-block" %>
					<% end %>

				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="row">
			<div class="col-md-12">
				<h3>Common Items</h3>
				<p>Coming soon</p>
			</div>
		</div>
	</div>

</div>